<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1038766897222-mahbjc26l8t6a35mmeclg4sopc0avmqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1038766897222-mahbjc26l8t6a35mmeclg4sopc0avmqb</string>
	<key>API_KEY</key>
	<string>AIzaSyAPQyUaeNpUhhdgf61o3kct24Fz7HrULrI</string>
	<key>GCM_SENDER_ID</key>
	<string>1038766897222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quizapp-99965</string>
	<key>STORAGE_BUCKET</key>
	<string>quizapp-99965.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1038766897222:ios:d04fd2a67b610d02b73247</string>
</dict>
</plist>